html {
  margin: 0;
  height :100%;
 
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  min-height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fa-home{
  padding-top: 15px;
  padding-left: 20px;
}

.fa-sign-in,.fa-user-plus,.fa-user, .fa-globe, .fa-search, .fa-envelope{
  margin-right: 5px;
  font-size:34px; 
  margin-top: 10px;
}
#homelogo{
  font-size:34px; 
  margin-left: 35px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.brand-logo{
  font-family: monospace;
  font-style: italic;
}
/* .nav-wrapper{
  height: 70px;
} */
li{
  font-style: italic;
}
.bg-image {
  background-image: url('/assets/images/slide3.jpg');
  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sidenav{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    color: white;
    padding: 20px;
}




 @media only screen and (max-width:380px){
  #home{
    display: none;
  }
  #homelogo{
    display:inline;
  }
}

@media only screen and (min-width:380px){
  #homelogo{
    display:none;
  }
}