body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.roomlist{
  padding-top: 40px;
}
.fa-home{
  padding-top: 15px;
  padding-left: 20px;
}
.fa-envelope{
  margin-right: 5px;
  font-size:26px;
  margin-top: 10px;


}
.fa-globe{
  margin-right: 5px;
  font-size:26px;
  margin-top: 10px;
}
.fa-search {
  margin-right: 5px;
  font-size:26px;
  margin-top: 10px;

}
.fa-sign-in{
  margin-right: 5px;
  font-size:26px;
  margin-top: 10px;
}
.fa-user-plus{
  margin-right: 5px;
  font-size:26px;
  margin-top: 10px;
}
.brand-logo{
  font-family: monospace;
  font-style: italic;
}
.nav-wrapper{
  height: 70px;
}
li{
  font-style: italic;
}
.col1{
   padding-top: 20px;
}
.col2{
  padding-left: 50px;
}
.col11{
  padding-top: 30px;

}
.col11 .card{
   padding-top: 80px;
   padding-left: 10px;
   height: 300px;
   }
.col22 {
  padding-left: 20px;
   }
input[type="submit"]{
  margin-top: 35px;
  margin-left: 120px;
  border: 1px solid white;
  border-radius: 10px;       /* this is the Search button styling........*/
  width: 100px;
  height:50px;
  box-shadow: 5px;
  opacity: 0.5;
  color:green;
  font-weight: bold;
  font-weight: 700;
}


.bg-image {
  /* The image used */
  background-image: url("https://www.marinabaysands.com/content/dam/singapore/marinabaysands/master/main/home/hotel/rooms-suites/premier-room/premiere%201_1920x960.jpg");

  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sidenav{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    color: white;
    padding: 20px;
}
