body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img{
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 20px;
  margin-top: 20px;
}
.post-card{
  height:300px;
  width: 600px;
  margin-top: 80px;
  margin-left: 450px;
}
.Address{
  text-align: right;
}
form{
  width: 300px;
}
.card{
  maxWidth: 345;
}
